.editor-wrapper{
    position: relative;
    height: 100%;
    width: 97%;
}


.editor-wrapper .buttom-format {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
}

.editor-wrapper:hover .buttom-format{
opacity: 1.0;
}